*{
    margin: 0;
    padding: 0;
    z-index: 0;
}
.parent{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: "Cormorant", serif;
    font-size: 20px;
}

/* navigation bar */
.nav-bar{
    top: 5px;
    text-align: right;
    padding: 10px;
    margin-right: 5px;
    font-size: 20px;
    gap: 5px;
    width: 550px;
    background-color: rgba(119, 0, 0, 0.8);
    height: max-content;
}
.nav-contents{
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(252, 252, 252);
    margin-right: 10px;
    border-radius: 5px;
    background-color: transparent;
}
.nav-contents:hover{
    background-color: white;
    color: rgb(119, 0, 0, 0.8);
    border-radius: 5px;
}


/*left hand side bar*/
.contents{
    display: flex;
    gap: 5px;
    width: 97%;
    padding: 10px;
}
/* contents start 
    LEFT SIDE*/
.service-category{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 17%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    gap: 3px;
    margin-right: 15px;
    padding: 10px;
    background-color: rgb(119, 0, 0, 0.8);
    position: sticky;
    top: 0;
}
.name-ser{
    padding: 10px;
    position: sticky;
    top: 5px;
    border: none;
    border-radius: 10px;
    text-align: left;
    background-color: beige;
    margin-bottom: 10px;box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.name-ser:hover{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.details{
    flex: 1;
    background-color: white;
    z-index: 1;
    width: 750px;
}
/*RIGHT SIDE*/
#service{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    flex-direction: column;
    width: 960px;
}
.top{ 
    padding: 10px 20px; 
    /* border: 1px solid black; */
    margin-bottom: 15px;
    background-color: beige;
}
.each-service{
    padding: 5px 15px;
    border: none;
    margin-right: 15px;
    font-size: 20px;
    background-color: beige;

}
.each-service:hover{
    background-color: brown;
    color: aliceblue;
    border: none;
    border-radius: 10px;
}

/* js detail in each-service class i.e to make each button type brown bg */
.each-service.active-btn{
    background-color: brown;
    color: aliceblue;
    border: none;
    border-radius: 10px;
}

/* main service detail */
.service-info{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.card{
    padding: 15px;
    border: 1px solid brown;
    border-radius: 5px;
    margin-left: 15px;
    margin-bottom: 15px;
    width: fit-content;
}

/*to run js and execute the buttons*/
.main-section {
    display: none;
}

.main-section.active {
    display: flex;
    flex-direction: column;
}

/* display the card popup */
#bg-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 999;
    justify-content: center;
    align-items: center;
}
/* Hide initially */
#bg-overlay.hidden {
    display: none;
}

#cardInfo{
    position: absolute;
    display: none;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: rgb(250, 250, 241);
    color: brown;
    position: fixed;
    height: 80vh;
    overflow-y: auto;
    padding: 15px;
    gap: 10px;
}
#cardInfo .bookBtn{
    width: max-content;
    position: absolute;
    top: 10px;
    left: 10px;
    height: max-content;
    position: sticky;
    top: 5px;
}
#imageCard{
    align-self: center;
    margin-top: 10px;
    margin-right: 15px;
}

table{
    border-spacing: 5px;
}
td{
    width: 200px;
}
.closeCard{
    position: absolute;
    font-size: 3rem;
    top: 12px;
    right: 12px;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}
#cardInfo div{
    margin-left: 20px;
}
/* #calendar{
    width: 900px;
} */

/*package section of RIGHT SIDE*/
#package{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* display: none; */
}

/*selecting one service from the existig services options*/
.secondary-sec{
    display: none;
}
.secondary-sec.active{
    display: flex;
    flex-wrap: wrap;
}

/*Catering menu items*/
.menu{
    padding: 5px 20px 20px 20px;
}
.bookBtn{
    padding: 10px 25px;
    background-color: brown;
    color: white;
    position: sticky;
    top: 5px;
    margin-bottom: 5px;
    border: none;
    z-index: 5;
    border-radius: 10px;
}
.menu-text{
    padding: 20px 20px 5px 20px;
}
.menu-gallery{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.photo-menu{
    margin-right: 25px;
    margin-bottom: 15px;
    border: 1px solid black;
}

/* display full images of clicked image */
#full-image-view{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(160, 160, 158, 0.909);
}
#full-image{
    padding: 24px;
    max-width: 98%;
    max-height: 98%;
}
#closeBtn{
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 3rem;
    color: black;
}